* {
  box-sizing: border-box;
}
body {
  width: auto;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 25px;
  background-color: #f5f5eb;
}
h1 {
  margin-bottom: 20px;
  font-size: 48px;
  border-bottom: 1px solid #717171;
  padding-bottom: 5px;
}
.title {
  font-size: 28px;
  font-weight: 700;
}

.accordion {
  border-radius: 4px;
  overflow: hidden;
  background-color: #f5f5eb;
  min-height: 100vh;
}

.accordion__label {
  padding: 14px 20px;
}

.accordion__label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
  /* no important */
  position: relative;
  transition: background 0.1s;
}

.accordion__label::after {
  display: none;
  content: '╳';
  transform: rotate(45deg);
  font-weight: bold;
  font-size: 16px;
  transition: transform 0.3s ease-in;
}
.accordion__content {
  height: 0;
  overflow: hidden;
  transition: 0.8s;
}
.accordion__input {
  display: none;
}
.accordion__input:checked ~ .accordion__content {
  height: 100%;
}
.accordion__input:checked ~ .accordion__content .photo {
  width: 400px;
  max-height: 100%;
}

.accordion__input:checked ~ .accordion__label::after {
  transform: rotate(90deg);
}

.accordion__input:checked ~ .accordion__label {
  color: #0000ff;
}
/* Img */
.photo {
  display: block;
  width: 0px;
  max-height: 0%;
  margin: 0 auto;
  transition: width 0.8s ease-out, max-height 0.8s ease-out, filter 1s ease-out;
}

/* Hover animations accordion  */

.accordion:hover .accordion__label::after {
  display: block;
}

/* Hover to element */
.section:hover {
  cursor: pointer;
}
.section:hover .accordion__content {
  height: 100%;
}
.section:hover .photo {
  width: 400px;
  max-height: 100%;
}

/*  activre behevior */
.section {
  transition: all 0.8s;
}
.section:active .photo {
  filter: brightness(130%);
  -webkit-filter: brightness(130%);
  -moz-filter: brightness(130%);
}
.section:active .accordion__label {
  color: #1e78ff;
}
