* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 25px;
  background-color: #f5f5eb;
}
h1 {
  margin-bottom: 20px;
  font-size: 48px;
  border-bottom: 1px solid #717171;
  padding-bottom: 5px;
}
.title {
  font-size: 28px;
  font-weight: 700;
}
.accordion {
  /* box-shadow: 0 0 10px rgb(0, 0, 0, 0.2); */
  border-radius: 4px;
  overflow: hidden;
  background-color: #f5f5eb;
}
.accordion__label,
.accordion__content {
  padding: 14px 20px;
}
.accordion__label {
  display: block;
  color: rgb(0, 0, 0);
  font-weight: 500;
  cursor: pointer;
  /* no important */
  position: relative;
  transition: background 0.1s;
}
.accordion__label:hover {
  /* background-color: rgb(0, 0, 0, 0.1); */
}
.accordion__label::after {
  content: '';
  position: absolute;
  top: 25%;
  right: 20px;
  width: 32px;
  height: 32px;
  background-image: url(/cssBayan/assets/img/icons/add.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in;
}
.accordion__content {
  line-height: 1.6;
  font-size: 0.85em;
  display: none;
}
.accordion__input {
  display: none;
}
.accordion__input:checked ~ .accordion__content {
  display: block;
}
.accordion__input:checked ~ .accordion__label::after {
  transform: rotate(45deg);
}

/* Img */
.photo {
  display: block;
  width: 400px;
  height: auto;
  margin: 0 auto;
}
